.main {
  width: 36%;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 2rem 1rem;
}

.heading,
.subHeading,
.info {
  font-family: "Roboto", sans-serif;
  color: white;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.subHeading {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.info {
  color: rgb(153, 152, 152);
  font-size: 01rem;
  text-align: center;
}
